.action {
  display: flex;
  flex-direction: row;
  height: 40%;
  border: 1px solid var(--border-color);
  border-radius: 0px 0px 15px 15px;
}

.action>.left {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-size: cover;
  background-image: url('https://m.media-amazon.com/images/I/A1+6XrSoGJL._AC_SL1500_.jpg');
  border-radius: 0px 0px 0px 15px;
}

.action>.left>.controls {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-between;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  background-color: black;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 10px;
  padding: 10px;
}

.action>.right {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToJSW-TwrnSGsvzZaZk6T5HY25w-copMZrBv0aZtQ-4bnY3OTCefccqTQnF_d5jNKoKQ&usqp=CAU');
  border-radius: 0px 0px 15px 0px;
}

.action>.right>.stats {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-evenly;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  background-color: black;
  width: calc(100% - 40px);
  height: calc(40% - 20px);
  margin: 10px 10px 5px 10px;
  padding: 10px;
}

.action>.right>.menu {
  border: 2px solid var(--border-color);
  border-radius: 15px;
  background-color: black;
  width: calc(100% - 40px);
  height: calc(60% - 20px);
  margin: 5px 10px 10px 10px;
  padding: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.menu .row {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu .row:nth-child(1) {
  margin-bottom: 10px;
}