.scene {
  height: 60%;
  background-color: darkkhaki;
  background-image: url('https://img.freepik.com/free-vector/realistic-wood-texture-background_23-2149221129.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1699315200&semt=ais');
  display: flex;
  flex-direction: row;
  border: 1px solid var(--border-color);
  border-radius: 15px 15px 0px 0px;
}

.scene>.left,
.scene>.right {
  width: 15%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
}

.scene>.center {
  display: inline-flex;
  flex: 1 0 0%;
  align-items: end;
  justify-content: start;
  border: 3px solid var(--border-color);
  border-bottom: none;
  border-top: none;
  background-color: black;
  border-radius: 15px;
  cursor: grabbing;
  margin: 10px 0px;
  padding: 15px;
}

.avatar {
  width: calc(100% - 20px);
  aspect-ratio: 1 / 1;
  background-color: black;
  display: flex;
  align-items: end;
  justify-content: center;
  border: 2px solid var(--border-color);
  border-radius: 15px;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

line {
  animation: flicker 0.01s infinite;
  color: var(--accent-color);
  margin-left: 18px;
  text-indent: -18px;
}

line:before {
  content: '> ';
}

line:last-child:after {
  content: '|';
}

line::first-letter {
  color: green !important;
}

line:last-child:after {
  animation-name: blink;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes blink {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}