control {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 18px;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    cursor: pointer;

    animation: flicker 0.01s infinite;

    &:hover {
        background-color: color-mix(in srgb, var(--accent-color) 5%, transparent 100%);
    }
}